:root {
    --ff-primary: 'Barlow', sans-serif;
    --ff-secondary: 'Fraunces', serif;

    --fw-light: 600;
    --fw-bold: 700;
    --fw-dark: 900;

    --fs-14: .875rem;
    --fs-15: .9375rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-28: 1.75rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-56: 3.5rem;

    --clr-light: #fff;
    --clr-dark: #24554A;
    --clr-primary: #808397;
    --clr-secondary: #24303E;

    --clr-ftr-light: #458D7E;
    --clr-ftr-dark: #2C7566;

    --clr-one: #052C3B;
    --clr-two: #19536C;

    --clr-client-light: #A7AAAD;
    --clr-client-dark: #5B636D;

    --clr-accent-light: #FAD400;
    --clr-accent-dark: #FE7766;

    --clr-bg-light: #FFFCF8;
    --clr-bg-header: #78CEF5;
    --clr-bg-footer: #90D4C6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-light);
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-image: url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    background: var(--clr-bg-footer);
    padding: 4rem 1.5rem 5rem;
}

/* ===============
   Typography
   ===============*/

.header-title {
    color: var(--clr-light);
    font-family: var(--ff-secondary);
    font-size: var(--fs-40);
    font-weight: var(--fw-dark);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6.25px;
    margin-bottom: 3.75rem;
    text-overflow: ellipsis;
}

.main-section-title {
    color: var(--clr-secondary);
    font-family: var(--ff-secondary);
    font-size: var(--fs-32);
    font-weight: var(--fw-dark);
    margin-bottom: 1.5rem;
}

.main-section-text {
    color: var(--clr-primary);
    font-size: var(--fs-18);
    line-height: 30px;
    margin-bottom: 2rem;
}

.link-learn-more {
    color: var(--clr-secondary);
    display: block;
    font-family: var(--ff-secondary);
    font-size: var(--fs-15);
    font-weight: var(--fw-bold);
    text-decoration: none;
}

.accent-light::after {
    content: "";
    display: block;
    width: 137px;
    height: 10px;
    border-radius: 500px;
    margin: -8px auto 0;
    opacity: .25;
    background: var(--clr-accent-light);
    text-align: center;
}

.accent-dark::after {
    content: "";
    display: block;
    width: 137px;
    height: 10px;
    border-radius: 500px;
    margin: -8px auto 0;
    padding: 0;
    opacity: .25;
    background: var(--clr-accent-dark);
}

.accent-light:hover::after,
.accent-light:focus::after,
.accent-dark:hover::after,
.accent-dark:focus::after {
    cursor: pointer;
    opacity: 1;
}

.bottom-grid-title {
    font-family: var(--ff-secondary);
    font-size: var(--fs-28);
    font-weight: var(--fw-dark);
    margin-bottom: 1.75rem;
}

.bottom-grid-text {
    font-size: var(--fs-16);
    line-height: 27px;
}

.testimonial-title {
    color: var(--clr-client-light);
    font-family: var(--ff-secondary);
    font-size: var(--fs-16);
    font-weight: var(--fw-dark);
    letter-spacing: 4px;
    margin-bottom: 4rem;
}

.client-text {
    color: var(--clr-client-dark);
    font-size: var(--fs-18);
    line-height: 32px;
    margin-bottom: 2rem;
}

.client-name {
    color: var(--clr-secondary);
    font-family: var(--ff-secondary);
    font-size: var(--fs-18);
    font-weight: var(--fw-dark);
    margin-bottom: .5625rem;
}

.client-position {
    color: var(--clr-client-light);
    font-size: var(--fs-14);
    margin-bottom: 4rem;
}

/* ===============
   Layout
   ===============*/

.header-container {
    padding: 2rem 1.5rem 8.0rem;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.75rem;
}

.main-container {
    padding: 4rem 1.5rem;
    text-align: center;
    background: var(--clr-bg-light);
}

.bottom-grid-container {
    color: var(--clr-dark);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25rem 1.5rem 3.75rem;
    text-align: center;
}

.item-design {
    background-image: url(../images/mobile/image-graphic-design.jpg);
}

.item-photography {
    background-image: url(../images/mobile/image-photography.jpg);
}

.testimonial-container {
    padding: 4rem 1.5rem 1.5rem;
    text-align: center;
    background: var(--clr-bg-light);
}

.image-grid {
    display: grid;
    grid-template-areas:
        'milk orange-fruit'
        'cone cubes';
    grid-template-columns: repeat(2, 1fr);
}

.milk {
    grid-area: milk;
}

.orange {
    grid-area: orange-fruit;
}

.cone {
    grid-area: cone;
}

.cubes {
    grid-area: cubes;
}

/* ===============
   Header
   ===============*/

.menu-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.nav-list {
    display: none;
}

.down-arrow {
    max-width: 30px;
    margin: 0 auto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-25px);
    }

    50% {
        transform: scale(1, 1) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

/* ===============
   Main Content
   ===============*/

.avatar {
    max-width: 72px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

/* ===============
   Footer Section
   ===============*/

.footer-logo {
    color: var(--clr-ftr-dark);
    width: 170px;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.footer-nav {
    max-width: 300px;
    margin: 0 auto;
}

.footer-nav-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 5.5rem;
}

.footer-link {
    color: var(--clr-ftr-light);
    font-size: var(--fs-18);
    text-decoration: none;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

.s-link {
    color: var(--clr-ftr-dark);
    font-size: 20px;
}

.footer-link:hover,
.footer-link:focus,
.s-link:hover,
.s-link:focus {
    color: var(--clr-light);
}

/* ================
   Media Queries
   ================*/

@media (max-width: 330px) {
    .header-title {
        font-size: var(--fs-28);
    }
}

@media (min-width: 450px) {
    .bottom-grid-container {
        padding: 35rem 1.5rem 3.75rem;
    }
}

@media (min-width: 750px) {

    header {
        background-image: url(../images/desktop/image-header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* ===============
       Typography
       ===============*/

    .header-title {
        font-size: var(--fs-56);
        margin-bottom: 6rem;
    }


    .nav-item {
        color: var(--clr-bg-light);
        font-size: var(--fs-18);
        text-decoration: none;
        transition: background .75s, padding .75s, border-radius .75s;
    }

    .nav-item:hover,
    .nav-item:focus {
        font-family: var(--ff-secondary);
        background: var(--clr-bg-header);
        border-radius: 500px;
        padding: 1rem 2rem;
        text-transform: uppercase;
        transition: background .75s, padding .75s, border-radius .75s;
    }

    .main-section-title {
        font-size: var(--fs-40);
        margin-bottom: 2rem;
    }

    .main-section-text {
        color: var(--clr-primary);
        font-size: var(--fs-18);
        line-height: 30px;
        margin-bottom: 2rem;
    }

    .main-section-title,
    .main-section-text {
        max-width: 445px;
    }

    .link-learn-more {
        padding-left: 1rem;
    }

    .accent-light::after,
    .accent-dark::after {
        margin-left: -16px;
    }

    .bottom-grid-text {
        width: 65%;
        margin: 0 auto;
    }

    .testimonial-title {
        margin-bottom: 5rem;
    }

    .client-text {
        margin-bottom: 4.375rem;
    }

    .client-position {
        margin-bottom: 8.5rem;
    }

    /* ===============
       Layout
       ===============*/

    .header-container {
        padding: 2.125rem 2.75rem 20.75rem;
    }

    .nav-flex {
        margin-bottom: 6.5625rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        text-align: initial;
        background: var(--clr-bg-light);
    }

    .grid {
        display: grid;
        grid-template-areas:
            'transform egg'
            'cup stand'
            'design photo';
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, minmax(1fr, 720px));
    }

    .bottom-grid-container {
        color: var(--clr-dark);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 25rem 1.5rem 3.75rem;
        text-align: center;
    }

    .item-transform {
        grid-area: transform;
    }

    .item-egg {
        grid-area: egg;
    }

    .item-cup {
        grid-area: cup;
    }

    .item-stand {
        grid-area: stand;
    }

    .item-design {
        grid-area: 'design';
        background-image: url(../images/desktop/image-graphic-design.jpg);
        background-position: center;
    }

    .item-photography {
        grid-area: 'photo';
        background-image: url(../images/desktop/image-photography.jpg);
        background-position: center;
    }

    .testimonial-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .client-container {
        display: flex;
        gap: 1.875rem;
    }

    .image-grid {
        display: grid;
        grid-template-areas:
            'milk orange-fruit cone cubes';
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 447px;
    }

    .milk,
    .orange,
    .cone,
    .cubes {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .milk {
        content: url(../images/desktop/image-gallery-milkbottles.jpg);
    }

    .orange {
        content: url(../images/desktop/image-gallery-orange.jpg);
    }

    .cone {
        content: url(../images/desktop/image-gallery-cone.jpg);
    }

    .cubes {
        content: url(../images/desktop/image-gallery-sugarcubes.jpg);
    }

    /* ==============
       Header 
       ==============*/

    .logo {
        width: 170px;
    }

    .menu-btn,
    .menu-icon {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 3rem;
        list-style: none;
    }

    .down-arrow {
        width: 30px;
        height: 110px;
        margin: 0 auto;
    }


    /* ===============
       Main Content
       ===============*/

    .link-accent {
        margin: 0;
        margin-top: -7px;
    }

    .avatar {
        margin-bottom: 3.75rem;
    }

    .egg-img {
        content: url(../images/desktop/image-transform.jpg);
    }

    .cup-img {
        content: url(../images/desktop/image-stand-out.jpg);
    }

    .egg-img,
    .cup-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}